<div class="container">
  <div class="row">
    <div class="col-2"></div>
     <div class="col-8 my-5">
       <%= link_to user_path(@another_entry.user) do %>
        <h3 class="text-center text-dark"><%= @another_entry.user.name %>とのメッセージ</h3>
       <% end %>

       <% @messages.each do |m| %>
         <table class="table table-borderless">
          <tbody>
           <tr>
            <td>
              <% if m.user_id == current_user.id %>
                <div class="mycomment text-right">
                  <%= m.body %>
                </div>
              <% else %>
                  <div class="says text-left">
                    <%= m.body %>
                  </div>
              <% end %>
             </td>
            </tr>
           </tbody>
         </table>
        <% end %>

          <nav class="navbar navbar-light bg-white">
           <div class="form-inline ml-auto">
            <%= form_with model: @message do |f| %>
                <%= f.text_field :body, class: "form-control mr-sm-2", type: "text", placeholder: "message" %>
                <%= f.hidden_field :room_id, :value => @room.id %>
                <%= f.submit "送信", class: "btn btn-outline-dark my-2 my-sm-0 ml-auto" %>
             </div>
            <% end %>
           </div>
          </nav>

      </div>
    <div class="col-2"></div>
  </div>
</div>
