<div class="container">
<div class="row">
    <div class="col-md-1 col-sm-1 col-xs-0"></div>
     <div class="col-md-10 col-sm-10 col-xs-12 my-5">
      <h2>search results</h2>
       <!--検索対象モデルがUserの時 -->
        <% if @range == "User" %>
          <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>image</th>
            <th>name</th>
            <th>follow</th>
            <th>follower</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
             <%= image_tag user.get_user_image, size:'50x50' %>
            </td>
            <td>
             <%= link_to user.name, user_path(user) %>
            </td>
            <td><%= user.followings.count %></td>
            <td><%= user.followers.count %></td>
            <td>
              <% if user != current_user %>
                <% if current_user.following?(user) %>
                  <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
       </table>
        <% else %>
          <!--検索対象モデルがUserではない時(= 検索対象モデルがDressの時) -->
          <%= render "public/dresses/dressindex", dresses: @dresses %>
        <% end %>
     </div>
    <div class="col-md-1 col-sm-1 col-xs-0"></div>
  </div>
</div>
