<div class="container">
  <div class="row">
    <div class="col"></div>
     <div class="col my-5">

        <% if @dress.errors.any? %>
          <%= @dress.errors.count %>件のエラーが発生しました
          <ul>
            <% @dress.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @dress do |f| %>
          <div class="form-group">
            <%= f.label :caption %>
            <%= f.text_area :caption, class: 'form-control dress_caption' %>
          </div>

            <div class="form-group">
             <%= f.label :category_id, "category" %>
             <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :kind) %>
            </div>

            <div class="form-group">
             <%= f.label :season_id, "season" %>
             <%= f.select :season_id, options_from_collection_for_select(Season.all, :id, :name) %>
            </div>

            <div class="form-group">
              <%= f.radio_button :is_status, 'true' %><%= f.label :is_status, '公開' %>
              <%= f.radio_button :is_status, 'false' %><%= f.label :is_status, '非公開' %>
            </div>

            <div class="form-group">
              <%= f.submit class: 'btn btn-dark' %>
            </div>
          <% end %>

      </div>
   <div class="col"></div>
  </div>
</div>

