  <div class="container">
   <div class="row my-5">
    <div class="col"></div>
     <div class="col">
       <div class="dress_show">
         <div class="dress_image"><%= image_tag @dress.get_image, size: '400x400' %></div>
          Posted date：<%= @dress.created_at.strftime('%Y/%m/%d') %><br>
           Caption:：<%= @dress.caption %><br>
           Category：<%= @dress.category %><br>
           Season：<%= @dress.season.name %><br>
           公開：<%= @dress.is_status %><br>
          <a><%= link_to user_path(@dress.user), class:"text-dark", style:"font-size:18px;" do %>
         <%= @dress.user.name %><% end %></a>
        </div>

        <div class="favorite my-2">
         <% if @dress.favorited_by?(current_user) %>
          <p style="font-size:20px;">
            <%= link_to dress_favorites_path(@dress), class:"text-dark", method: :delete do %>
            ♥<%= @dress.favorites.count %>
            <% end %>
          </p>
         <% else %>
          <p style="font-size:20px;">
           <%= link_to dress_favorites_path(@dress), class:"text-dark", method: :post do %>
           ♡<%= @dress.favorites.count %>
           <% end %>
          </p>
         <% end %>
        </div>

        <div class="btn">
        <% if @dress.user == current_user %>
         <%= link_to edit_dress_path(@dress) do %>
          <button type="button" class="btn btn-secondary">edit</button>
         <% end %>
         <%= link_to dress_path(@dress), method: :delete,"data-confirm" => "本当に削除しますか？" do %>
          <button type="button" class="btn btn-secondary">delete</button>
         <% end %>
        <% end %>
       </div>

       <div class="comment_count my-4">
         <p>コメント件数：<%= @dress.comments.count %></p>
       </div>

       <div class="comment_form">
         <%= form_with model: [@dress, @comment] do |f| %>
           <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
           <%= f.submit "送信する" %>
         <% end %>
       </div>

       <div class="comment my-5">
        <table class="table">
          <tbody>
           <% @dress.comments.each do |comment| %>
            <tr>
              <th scope="row"><%= comment.user.name %></th>
              <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= comment.comment %></td>
              <td>
               <% if comment.user == current_user %>
                <%= link_to "削除", dress_comment_path(comment.dress, comment), method: :delete %>
               <% end %>
              </td>
             </tr>
            <% end %>
          </tbody>
        </table>
       </div>
     </div>
    <div class="col"></div>
  </div>
</div>
