  <div class="container">
   <div class="row my-5">
    <div class="col"></div>
     <div class="col">
      <div class="success my-4">
       <%= flash[:success] %>
       </div>
       <div class="dress_show">
         <div class="dress_image"><%= image_tag @dress.get_image, size: '400x400' %></div>

          <table class="table table-borderless">
            <tbody>
                <tr><td><%= @dress.created_at.strftime('%Y/%m/%d') %></td></tr>
                <tr><td>Caption：<%= @dress.caption %></td></tr>
                <tr><td>Category：<%= @dress.category.kind %></td></tr>
                <tr><td>Season：<%= @dress.season.name %></td></tr>
                <tr><td>公開：<%= @dress.status_text %></td></tr>
                <tr><td><a><%= link_to user_path(@dress.user), style:"font-size:18px;" do %>
                       <%= @dress.user.name %><% end %></a></td></tr>
            </tbody>
          </table>
        </div>

        <div id="favorite_btn_<%= @dress.id %>" >
         <%= render "public/favorites/favorites", dress: @dress %>
        </div>

        <div class="btn">
        <% if @dress.user == current_user %>
         <%= link_to edit_dress_path(@dress) do %>
          <button type="button" class="btn btn-secondary">edit</button>
         <% end %>
         <%= link_to dress_path(@dress), method: :delete,"data-confirm" => "本当に削除しますか？" do %>
          <button type="button" class="btn btn-secondary">delete</button>
         <% end %>
        <% end %>
       </div>

       <div id=<%= "comments-area" %> >
         <%= render 'public/comments/form', dress: @dress, comment: @comment %>
   　   </div>

     </div>
    <div class="col"></div>
  </div>
</div>
