    <div class="col-md-2 col-sm-2 col-xs-2 my-5">
      <%= image_tag user.get_user_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
  	    <p><%= user.name %></p>
        <% if user == current_user %>
          <% if user.name != "guestuser" %>
           <%= link_to edit_user_path(user) do %>
            <div class="btn">
             <button type="button" class="btn btn-secondary"><i class="fas fa-user"></i>編集</button>
            </div>
           <% end %>
           <%= link_to unsubscribe_path(user) do %>
            <div class="btn">
             <button type="button" class="btn btn-secondary"><i class="fas fa-user"></i> 退会</button>
            </div>
           <% end %>
          <% end %>
           <%= link_to user_rooms_path(user) do %>
            <div class="btn">
             <button type="button" class="btn btn-secondary"> DM一覧</button>
            </div>
           <% end %>
         <% end %>

        <% if @user != current_user %>
          <div class="btn">
            <button type="button" class="btn btn-secondary">
              <% if current_user.following?(user) %>
                <%= link_to "フォロー中", user_relationships_path(user.id), class:"text-light", method: :delete %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id), class:"text-light", method: :post %>
              <% end %>
            </button>
          </div>
           <div class="btn">
             <% unless @user.id == current_user.id %>
              <% if @is_room == true %>
               <%= link_to "メッセージへ", user_room_path(@user.id,@room_id), class:"btn btn-secondary"  %>
                <% else %>
                 <%= form_with model: @room, url: user_rooms_path(user) do |f| %>
                   <%= fields_for @entry do |e| %>
                     <%= e.hidden_field :user_id, value: @user.id %>
                    <%= f.submit "メッセージを送る", class:"btn btn-secondary" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="col-md-1 col-sm-1 col-xs-1"></div>
     <div class="col-md-9 col-sm-9 col-xs-9 my-5">
       <h1></h1>
        <h3 class="text-dark">introduction</h3>
          <p class="introduction-text my-2", style="font-size:21px;">
           <%= @user.introduction %>
          </p>
          <div class="count my-5", style="font-size:21px;">
            <a><%= link_to followings_user_path(@user), class:"text-dark" do %>
              フォロー数：<%= user.followings.count %><% end %></a>
            <a>　</a>
            <a><%= link_to followers_user_path(@user), class:"text-dark" do %>
            フォロワー数：<%= user.followers.count %><% end %></a>
            <a>　</a>
            <a>post数：<%= @count %></a>
            　<a><i class="fas fa-thumbs-up"></i><%=link_to"いいねした投稿",favorites_user_path(@user), class:"text-dark" %></a>
          </div>
     </div>
