    <div class="col-md-2 col-sm-2 col-xs-2 my-5">
      <%= image_tag user.get_user_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
  	    <p><%= user.name %></p>
        <% if user == current_user %>
          <% if user.name != "guestuser" %>
           <%= link_to edit_user_path(user) do %>
            <div class="btn">
             <button type="button" class="btn btn-secondary"><i class="fas fa-user"></i>編集</button>
            </div>
           <% end %>
           <%= link_to unsubscribe_path(user) do %>
            <div class="btn">
             <button type="button" class="btn btn-secondary"><i class="fas fa-user"></i> 退会</button>
            </div>
           <% end %>
          <% end %>
           <%= link_to user_rooms_path(user) do %>
            <div class="btn">
             <button type="button" class="btn btn-secondary"> DM一覧</button>
            </div>
           <% end %>
         <% end %>
