<div class ="border border-dark pb-3">
  <h5 class="border-bottom border-dark text-center p-2"><strong>season</strong></h5>
   <%= form_with model: season, class: 'boards__searchForm' do %>
    <% seasons.each do |season| %>
      <div class="tag-box px-3">
        <%= link_to season.name, user_path(user, name: season.id), class:"text-dark" %>
      </div>
    <% end %>
      <div class="tag-box px-3">
        <%= link_to "全ての投稿", user_path(user), class:"text-dark" %>
      </div>
  <% end %>
</div>

<div class ="border border-dark pb-3 my-3">
  <h5 class="border-bottom border-dark text-center p-2"><strong>category</strong></h5>
   <%= form_with model: category, class: 'boards__searchForm' do %>
    <% categories.each do |category| %>
      <div class="tag-box px-3">
        <%= link_to category.kind, user_path(user, kind: category.id), class:"text-dark" %>
      </div>
    <% end %>
      <div class="tag-box px-3">
        <%= link_to "全ての投稿", user_path(user), class:"text-dark" %>
      </div>
  <% end %>
</div>
