<div class="container">
  <div class="row">
    <div class="col"></div>
     <div class="col my-5">

        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model:@user, url:user_path(current_user), local:true do |f| %>
        <div class="form-group">
            <%= f.label :user_image %>
            <%= f.file_field :user_image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control user_name' %>
          </div>
          <div class="form-group">
            <%= f.label :introduction %>
            <%= f.text_area :introduction, class: 'form-control user_introduction' %>
          </div>



          <div class="form-group">
            <%= f.submit class: 'btn btn-dark' %>
          </div>
        <% end %>

      </div>
   <div class="col"></div>
  </div>
</div>
