<div class="container">
  <div class="row">
    <div class="col-1"></div>
     <div class="col-10 my-5">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>image</th>
            <th>name</th>
            <th>follow</th>
            <th>follower</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
             <%= image_tag user.get_user_image, size:'50x50' %>
            </td>
            <td>
             <%= link_to user.name, user_path(user) %>
            </td>
            <td><%= user.followings.count %></td>
            <td><%= user.followers.count %></td>
          </tr>
          <% end %>
        </tbody>
       </table>
      <%= paginate @users %>
     </div>
    <div class="col-1"></div>
  </div>
</div>
