<div class="container">
  <div class="row">
    <%= notice %>
      <%= render "public/users/info", user: @user %>
  </div>

  <div class="row my-5">
    <h2>Item</h2>
  </div>

  <div class="row">
    <div class="col-2">
      <div class ="border border-dark pb-3">
          <h5 class="border-bottom border-dark text-center p-2"><strong>ジャンル検索</strong></h5>
           <%= form_with model: @season, class: 'boards__searchForm' do %>
           <%=  %>
            <% @seasons.each do |season| %>
              <div class="tag-box px-3">
                <%= link_to season.name, user_path(@user, name: season.id), class:"text-dark" %>
              </div>
            <% end %>
              <div class="tag-box px-3">
                <%= link_to "all", user_path(@user), class:"text-dark" %>
              </div>
          <% end %>
        </div>
    </div>
   <div class="col-10">
       <%= render "public/dresses/dressindex", dresses: @dresses, seasons: @seasons %>
   </div>
</div>